<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" style="max-width: 200rem">
      <img src="/public/upload/0c89va7.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption ">
        <h5>ALL ARE WELCOME</h5>
        <p>We're committed to fostering a safe and supportive community for everyone..</p>
      </div>
    </div>
    <div class="carousel-item" style="max-width: 200rem" >
      <img src="/public/upload/0ksbr5j.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption ">
        <h5>EXPLORE WHAT'S NEW</h5>
        <p>Express yourself in new ways with the latest Instagram features.</p> 
      </div>
    </div>
    <div class="carousel-item" style="max-width: 200rem">
      <img src="/public/upload/0qo1w1b.png" class="d-block w-100" alt="...">
      <div class="carousel-caption ">
        <h5>STAND OUT ON INSTAGRAM</h5>
        <p>Connect with more people, build influence, and create compelling content that's distinctly yours..</p>
      </div>
    </div>
  </div>
</div>